.NewReservation {
    width: 100%;
    bottom: 0;
    top: 55px;
    position: absolute;
    background:linear-gradient(-90deg, rgba(254, 219, 57, 0.08) 1px, transparent 1px),linear-gradient(rgba(254, 219, 57, 0.08) 1px, transparent 1px),rgb(35, 41, 54);
    background-size:10px 10px,10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainNewReservation
{
    background-color: rgba(254, 219, 57, 0.2);
    padding:20px;
    border-radius:5px;
    min-width:30vw;
    max-width: 95vw;
}

.NewReservationOption
{
    background-color:white;
    display:flex;
    width:100%;

}

.NewReservationBottons
{
    padding: 5px 10px;
    cursor: pointer;
    color: rgba(35, 41, 54,0.7);
    font-weight: 500;
    width: inherit;
    text-align: center;
    /* font-size:14px; */
}

.NewReservationBottons:hover
{
    color: rgb(35, 41, 54);

}

.ClickNewReservationBottons
{
    color: rgb(35, 41, 54);
    border-bottom: 7px solid rgb(35, 41, 54);
}

.NewReservationContainer
{
    padding:20px;
    margin-top: 25px;
    background-color:white;
    max-height: 60vh;
    overflow-y: auto;
}

.NewReservationContainerTemp{
    font-size: 15px;
    padding:-10px 0;
}
.DateComponenrRD
{
    display:flex;
    width: 100%;
    border:3px solid rgb(35, 41, 54,0.4);
    border-radius:5px;
    /* margin-top:20px; */
    
}


.InputDateComponenrRD
{
    border:none;
    width:100%;
    padding:10px 15px;
}

.InputDateComponenrRDTemp
{
    border:none;
    width:100%;
    padding:7px 10px 7px 10px;
}

.InputNumberComponenrRD
{
    border:none;
    width:100%;
    padding:10px 10px 10px 15px;
}


.InputDateComponenrRD:focus,.InputNumberComponenrRD:focus,.InputDateComponenrRDTemp:focus
{
    outline: none;
}

.DateComponenrRD:focus-within
{
    border:3px solid rgb(35, 41, 54,0.8);
}




.CalenderIconDateComponenrRD
{
    display: flex;
    padding: 0 10px;
    align-items: center;
    cursor: pointer;
}


input[type=checkbox] {
    accent-color: rgb(112 100 42);
}

.FlexibleWithTime
{
    width:18px;
    height:18px;
    margin-right: 10px;
}


.FlexibleWithTimeLabel
{
    font-weight: 500;
    font-size: 18px;
    color:rgba(35, 41, 54,0.8);
}

.ButtonForNewReservationDetails
{
    margin-top: 20px;
    display: flex;
    width:100%
}

.CancelBottonReservationDetails
{
    flex:0.5;
    padding:10px;
    font-size:21px;
    font-weight: 700;
    cursor:pointer;
    color:rgba(255, 255, 255, 0.5);


}

.NextBottonReservationDetails
{
    flex:0.5;
    display:flex;
    justify-content: end;
    padding:10px;
    font-size:21px;
    font-weight: 700;
    cursor:pointer;
    color:rgba(255, 255, 255, 0.5);
}

.NextBottonReservationDetails:hover,.CancelBottonReservationDetails:hover
{
    color:rgba(255, 255, 255, 1);
}

.LabelSelectDate
{
    transform: translate(10%, 50%);
    font-weight: 700;
    color: rgb(112 100 42);
    width: fit-content;
    background-color: white;
}



.ReactFlagsSelect-module_flagsSelect__2pfa2 
{
    width: inherit;
    padding: 0;
    border: none;

} 

.reactFlagClass
{
    padding:0 !important;
   
}
.reactFlagClassButton
{
    border:none !important;
    width:100px !important;
    overflow: hidden;
}

.reactFlagClassButton:focus
{
    outline: none !important;
}

.reactFlagClassButtonTemp
{
    border:none !important;
    width: inherit  !important;
    overflow: hidden;
}

.reactFlagClassButtonTemp:focus
{
    outline: none !important;
}

.NewReservationContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 0;

}

.ReactFlagsSelect-module_selectOptions__3LNBJ::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
    margin-top: 0 !important;

}

.SonuSingla
{
    display: flex;
    gap: 25px;
}


@media screen and (max-width: 800px) {
    .NewReservationBottons
    {
        font-size: 18px;
    }
}

@media screen and (max-width: 6000px) {
    .NewReservationBottons
    {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .NewReservationBottons
    {
        font-size: 14px;
    }
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */









.InputMutipleSelect
{
    border: 3px solid rgba(0, 0, 0, 0.5);
    padding: 5px 10px ;
    border-radius: 5px;
    display:flex;
    cursor: pointer;

}





.InputMutipleSelectIcon
{
    display:flex;
    gap:8px;
    align-items: center;
    font-size:12px;

}

.VerticalLine
{
    border-left: 2px solid rgba(0, 0, 0, 0.4);
    height: -webkit-fill-available;

    
}

.OptionList
{
    display:none;
    background-color: white;
    margin-top:10px;
    border: 2px solid rgba(35, 41, 54,0.7);
    width: 100%;
    border-radius:5px;
    max-height:200px;
    overflow: auto;
    gap:5px;
    background: linear-gradient(-90deg, rgba(254, 219, 57, 0.08) 1px, transparent 1px),linear-gradient(rgba(254, 219, 57, 0.08) 1px, transparent 1px),rgb(35, 41, 54);
    background-size: 10px 10px,10px 10px;
}

.OptionList::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 0;

}

.OptionList li
{
    list-style:none;
    padding:5px 10px;
    display:flex;
    cursor: pointer;
    align-items: center;
    font-size:14px;
    color:white;
}

.OptionList li:hover
{
    background-color: rgba(254, 219, 57, 0.2);
    color: white;
}

.OptionLabel
{
    flex:1;
}

.OptionLabelRight
{
    width: 20px;
    height: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:rgb(35, 41, 54);
    font-size:12px;
    font-weight: 800;


}

.OptionLabelLeft
{
    width: 20px;
    height: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:rgb(35, 41, 54);
    margin-right:10px;
    font-size:12px;
    font-weight: 800;
}

.NoOptionContainer
{
    color: white;
    text-align: center;
    padding: 5px;
}

.SelectedTableClass
{
    display: flex;
    gap: 5px;
    font-size: 12px;
    padding: 2px;
    margin: 1px 2px;
    font-weight: 700;
    background-color: rgb(35, 41, 54,0.5);
    cursor: auto;


}

.CroseIconSelectInput
{
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.CroseIconSelectInput:hover
{
    background-color: white;
}

.SelectTableReservationData
{
    padding: 8px 5px;
    display: flex;
}

.SelectTableReservationDataDate
{
    flex: 0.5;
    background: rgb(79,77,54,0.5);
    text-align: center;
    color: rgb(35,41,54);
    font-weight: 700;
}

.SelectTableReservationDataTime
{
    flex: 0.5;
    justify-content: center;
    display: flex;
    color: rgb(186 182 132);
    font-weight: 700;
    background-color: rgb(35,41,54);
}

.PleaseFirstEnter
{
    text-align: center;
    padding: 5px;
    background: linear-gradient(-90deg, rgba(254, 219, 57, 0.08) 1px, transparent 1px),linear-gradient(rgba(254, 219, 57, 0.08) 1px, transparent 1px),rgb(35, 41, 54);
    background-size: 10px 10px,10px 10px;    border-radius: 5px;
    color: #ffffffc4;
    font-size: 18px;
    font-weight: 600;
}

.ViewOptionClasses
{
    display: flex;
    gap: 25px;
    margin: 20px auto;
    color: rgb(35 41 54 / 70%);
    justify-content: center;
}

.ViewOptionClassesOption
{
    padding:5px 10px;
    cursor:pointer;
}

.ViewOptionClassesOption:hover
{
    color: rgb(35 41 54);
    border-bottom: 2px solid ;

}

.ViewShowNewReservation
{
    position:absolute;
    width: 100%;
    height: 100%;
    padding:5%;
    background-color: rgba(255, 255, 255, 0.288);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SaveAndNext
{
    font-size: 12px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(19,111,12);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}