.ForBackGroundImage
{
  background-image: url("../image/LoginPageBackgroundImage.jpg");
  background-repeat : no-repeat;
  background-size: cover;
  position: fixed;
  top : 0;
  bottom: 0;
  right: 0;
  left: 0;
}


.EntryAnimationReturningDiv 
{
    background:linear-gradient(-90deg, rgba(254, 219, 57, 0.08) 1px, transparent 1px),linear-gradient(rgba(254, 219, 57, 0.08) 1px, transparent 1px),rgb(35, 41, 54);
    background-size:10px 10px,10px 10px;
    text-align: center;
    font-size: 24px;
    color: white;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #EntryAnimationReturningWelcomeDiv
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;  
  }
  
  .Wellcome_Back
  {
    display: none;
  }
  
  .EntryAnimationReturningDivLogo
  {
      width:120px;
      margin-top:3%;
  }

  .EntryAnimationReturningDivRestaurantName
  {
    font-size:24px;
  }


  @keyframes LetterOpacity
  {
    from {opacity:1}
    to {opacity:0}
  }

  @keyframes ContainerOpacity
  {
    from {background-color:rgba(35, 41, 54,1)}
    to {background-color:rgba(35, 41, 54,0.7)}
  }

  @keyframes OpacityLogin
  {
    from {opacity:0}
    to {opacity:1}
  }

  #EntryAnimationReturningLoginDiv
  {
    animation-name: OpacityLogin;
    animation-duration: 1s;
  }

/* -------------------------------------------------------- */
/* meta for 390 */

  @media screen and ( max-width: 390px){
    .EntryAnimationReturningDivLogo
    {
        width:90px;
        margin-top:3%;
    }
  
    .EntryAnimationReturningDivRestaurantName
    {
      font-size:18px;
    }

    #EntryAnimationReturningDivWelcomeHeading
    {
     font-size:16px;
    }
    #EntryAnimationReturningDivWelcomeSubHeading
    {
     font-size:12px;
    }
}