#AdminNewPasswordUpdateSuccessfullyHeading
{
    font-size: 12px
}

#AdminNewPasswordUpdateSuccessfullyHeading span
{
    color: green;
}

#AdminNewPasswordUpdateSuccessfullyGoToLoginPage
{
    cursor:pointer;
    font-size: 18px;
}