#EntryAnimationReturningDiv {
  background-color: rgb(35,41,54);
  text-align: center;
  font-size: 24px;
  color: white;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;


}

#EntryAnimationReturningWelcomeDiv
{
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  margin: 0;
}



.Wellcome_Back
{
  display: none;
}

#EntryAnimationReturningDivLogo
{
    width:120px;
    margin-top:3%;
   

}
#EntryAnimationReturningDivRestaurantName{
  font-size:24px;
}