#AdminForgotPasswordHeading
{
    font-size:18px;
    padding:0;
    float:left;
    display: inline;
}
#BackToLogin
{
    float: right;
    font-size:12px;
    font-weight: bold;
    padding-top: 5%;
    cursor: pointer;
}