body {
                                        
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;  
  padding:0;
  margin: 0;  
  
  
}


a{
  text-decoration: none !important; 
  color: inherit !important ;
}

a:hover, a:focus, a:active{
  text-decoration: none !important; 
  color: currentColor !important;
}




/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  margin-top: 55px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(35,41,54,0.7);
  border-radius: 5px; 


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(35,41,54); 
}


#UpperDiv{
  z-index: +20;
}

#UpperUpperDiv{
  z-index: +30;
}
















