body {
                                        
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;     

 
 
  
}

#root
{
  background-image: url("D:\PROJECT-2\rtms-1.0.0\public\img\LoginPageBackgroundImage.jpg");
  background-repeat : no-repeat;
  background-size: cover;
  position: fixed;
  top : 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  
  

}

.AdminWindowSideBarOptionReturnDiv:hover
{
  background-color: rgb(35,41,54,0.5);
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(35,41,54,0.7);
  border-radius: 5px; 


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(35,41,54); 
}

.WorkingTimeCustomDetailsCheckBox{
  width :"25px";
  padding:"200px"

}


.WorkingTimeCustomDetailsCheckBox::after 
{
  background-color: red;

}

#UpperDiv{
  z-index: +10;
}